<form action="/account/login" method="POST">
  <ul>
    <li class="form-item">
      <label for="username">Username</label>
      <input name="username" id="username" type="text" value="<%= locals.inputs?.username %>">
      <% if (locals.errors?.username) { %>
        <p class="input-error active-error"><%= errors.username.msg %></p>
      <% } %>
    </li>
    <li class="form-item">
      <label for="password">Password</label>
      <input name="password" id="password" type="password" value="<%= locals.inputs?.password %>">
      <% if (locals.errors?.password) { %>
        <p class="input-error active-error"><%= errors?.password.msg %></p>
      <% } %>
    </li>
    <% if(locals.message) { %>
      <p><%= locals.message %></p>
    <% } %>
  </ul>
  <button type="submit">Login</button>
</form>