<article>
  <% if ((currentUser?.id === post.account_id) || utils.hasRole(currentUser?.roles, ['admin', 'member'])) { %>
    <ul>
      <li>
        <span>
          Posted by
          <a href="/account/view-profile/<%= post.username %>"><%= post.username %></a>
        </span>
      </li>
      <li>
        <%= new Date(post.created_at).toDateString() %>
      </li>
    </ul>
  <% } %>
  <p><%= post.body %></p>
  <% if (currentUser && utils.hasRole(currentUser.roles, ['admin'])) { %>
      <form action="/post/<%= post.post_id %>/<%= post.account_id %>/delete" method="POST" class="form-delete-post">
        <button type="submit">Delete</button>
      </form>
  <% } %>
</article>