<form action="/account/signup" method="POST" class="form-signup">
  <h2>Sign up</h2>
  <ul>
    <li class="form-item">
      <label for="fullname">Fullname</label>
      <input name="fullname" id="fullname" type="text" placeholder="Fullname" value="<%= locals.inputs?.fullname %>">
      <% if (locals.errors?.fullname) { %>
        <p class="input-error active-error"><%= errors.fullname.msg %></p>
      <% } %>
    </li>
    <li class="form-item">
      <label for="username">Username</label>
      <input name="username" id="username" type="text" placeholder="username" value="<%= locals.inputs?.username %>" autocomplete="username">
      <% if (locals.errors?.username) { %>
        <p class="input-error active-error"><%= errors.username.msg %></p>
      <% } %>
    </li>
    <li class="form-item">
      <label for="email">Email</label>
      <input name="email" id="email" type="email" placeholder="something@gmail.com" value="<%= locals.inputs?.email %>">
      <% if (locals.errors?.email) { %>
        <p class="input-error active-error"><%= errors.email.msg %></p>
      <% } %>      
    </li>
    <li class="form-item">
      <label for="password">Password</label>
      <input name="password" id="password" type="password" value="<%= locals.inputs?.password %>" autocomplete="new-password">
      <% if (locals.errors?.password) { %>
        <p class="input-error active-error"><%= errors.password.msg %></p>
      <% } %>
    </li>
    <li class="form-item">
      <label for="password-confirmation">Confirm Password</label>
      <input name="password-confirmation" id="password-confirmation" type="password" value="<%= locals.inputs?.['password-confirmation'] %>" autocomplete="new-password">
      <% if (locals.errors?.['password-confirmation']) { %>
        <p class="input-error active-error"><%= errors['password-confirmation'].msg %></p>
      <% } %>
    </li>
  </ul>
  <button type="submit">Sign up</button>
</form>