<!DOCTYPE html>
<html lang="en">
<%- include('./head', { title: 'Account Posts' }) %>
<body>
  <%- include('./header') %>
  <main>
    <section id="account-posts">
      <%- include('./accountHeader') %>
      <%- include('./posts', { heading: 'Account Posts', }) %>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>