<!DOCTYPE html>
<html lang="en">
  <%- include('./head', { title: "Home" }) %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="home">
        <% if (locals.currentUser) { %>
          <%- include('./postForm') %>
        <% } %>

        <%- include('./posts', { heading: 'Posts' }) %>
      </section>
    </main>
    <%- include('./footer') %>
  </body>
</html>
