<!DOCTYPE html>
<html lang="en">
<%- include('./head', { title: 'Manage Account' }) %>
<body>
  <%- include('./header') %>
  <main>
    <section id="manage-account">
      <%- include('./accountHeader') %>
      <h2>Manage Account</h2>
      <%- include('./comingSoon') %>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>