<!DOCTYPE html>
<html lang="en">
<%- include('./head', { title: 'Profile' }) %>
<body>
  <%- include('./header') %>
  <main>
    <section id="profile">
      <%# Navigation bar for account info %>
      <h2>Profile</h2>
      <%- include('./profileHeader') %>
      <%- include(`./profileTabs/${locals.profileTab ?? 'overview'}`) %>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>